<%= render 'shared/form_wrapper' do %>

  <%= form_tag '/login' do %>
    <div class="field">
      <%= label_tag :name, nil, class: 'label' %>
      <div class="control has-icons-left">
        <%= text_field_tag :name, nil, class: 'input', placeholder: 'Name' %>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <%= label_tag :password, nil, class: 'label' %>
      <div class="control has-icons-left">
        <%= password_field_tag :password, nil, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <%= submit_tag 'Login', class: 'button is-link' %>
  <% end %>

<% end %>