<%= form_for @user do |f| %>

  <%= render 'field',
    f: f,
    field_type: :text_field,
    key: :name,
    placeholder: 'Name',
    icon: 'fas fa-user'
  %>

  <%= render 'field',
    f: f,
    field_type: :email_field,
    key: :email,
    placeholder: 'user@domain.com',
    icon: 'fas fa-envelope'
  %>

  <%= render 'field',
    f: f,
    field_type: :password_field,
    key: :password,
    icon: 'fas fa-lock'
  %>

  <%= render 'field',
    f: f,
    field_type: :password_field,
    key: :password_confirmation,
    icon: 'fas fa-lock'
  %>
 
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'Register', class: 'button is-link' %>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>

<% end %>