<% placeholder ||= nil %>
<% icon ||= nil %>
<% input_class = "input #{obj.errors.messages[key].size > 0 && 'is-danger'}" %>

<div class="field">
  <%= f.label key, class: "label" %>

  <div class="<%= "control has-icons-right #{icon && 'has-icons-left'}" %>">
    <%= f.send(field_type, key, class: input_class, placeholder: placeholder) %>
    <span class="icon is-small is-left">
      <i class="<%= icon %>"></i>
    </span>
    <% if obj.errors.messages[key].size > 0 %>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    <% end %>
  </div>

  <% obj.errors.messages[key].uniq.each do |msg| %>
    <p class="help is-danger"><%= "#{key.to_s.capitalize} #{msg}" %></p>
  <% end %>
</div>