<%= render 'shared/form_wrapper' do %>

  <%= form_for obj do |f| %>

    <div class="field">
      <%= f.label :project_id, class: "label" %>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :project_id,
            options_from_collection_for_select(@projects, 'id', 'name', obj.project_id)
          %>
        </div>
      </div>
    </div>

    <%= render 'shared/field',
      f: f,
      field_type: :text_field,
      key: :name,
      placeholder: 'Ticket Name',
      obj: obj
    %>

    <div class="field">
      <%= f.label :body, class: "label" %>

      <div class="control has-icons-right">
        <%= f.text_area :body, class: 'textarea', placeholder: 'Ticket body' %>
        <% if obj.errors.messages[:body].size > 0 %>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        <% end %>
      </div>

      <% obj.errors.messages[:body].uniq.each do |msg| %>
        <p class="help is-danger"><%= "#{:body.to_s.capitalize} #{msg}" %></p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :status, class: "label" %>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :status,
            options_for_select(Ticket::STATUS_LIST, obj.status)
          %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :tag_ids, class: "label" %>
      <div class="control is-expanded">
        <div class="select is-multiple is-fullwidth">
          <%= f.select :tag_ids, 
            options_from_collection_for_select(@tags, 'id', 'name', obj.tag_ids),
            {},
            multiple: true
          %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :assigned_to_id, class: "label" %>
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :assigned_to_id,
            options_from_collection_for_select(@users, 'id', 'name', obj.assigned_to_id)
          %>
        </div>
      </div>
    </div>

    <%= render 'shared/form_submit_controls', f: f %>
  <% end %>

<% end %>