<%= render 'shared/heading', title_text: "Ticket Details: #{@ticket.name}" %>

  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Creator</p>
        <p class="title"><%= @ticket.creator && @ticket.creator.name %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Status</p>
        <p class="title"><%= format_status(@ticket.status) %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Assigned To</p>
       <p class="title"><%= @ticket.assigned_to.name %></p>
      </div>
    </div>

    <% if logged_in? %>
      <div class="level-item has-text-centered">
        <div>
          <%= render 'shared/edit_delete_buttons',
            edit_path: edit_ticket_path(@ticket),
            delete_path: ticket_path(@ticket)
          %>
        </div>
      </div>
    <% end %>

  </div>

<div class="content is-large">

  <p><%= @ticket.body %></p>

  <h4>Tags</h4>
  <%= render 'shared/tag_list', tags: @ticket.tags %>

  <h4>Comments</h4>

  <% if @ticket.comments.empty? %>
    <p class="is-italic">There are no comments for this ticket.</p>
  <% else %>

    <% @ticket.comments.each do |comment| %>
      <%= render 'shared/comment', comment: comment %>
    <% end %>

  <% end %>

  <br>

  <% if logged_in? %>
    <%= render 'shared/comment_form', obj: [@ticket, @comment] %>
  <% end %>
  
</div>