<!DOCTYPE html>
<html>
  <head>
    <title>TicketManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/nav' %>

    <div class="section">
      <div class="container">
        <% if flash[:error] %>
          <div class="notification is-danger"><%= flash[:error] %></div>
        <% end %>

        <% if flash[:notice] %>
          <div class="notification is-info"><%= flash[:notice] %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
